.newProjectCardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.newProjectCard {
  color: white;
  outline: 3px solid orange;
  border-radius: 25px;

  width: fit-content;
}

.newProjectDesc {
  max-width: 400px;
}

.cardImgSmall {
  width: 30vw;
  border-radius: 25px 25px 0px 0px;
}

.newProjectImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
