.newProjImgContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.newProjectDiv {
  border: 3px solid orange;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: white;
}

.projImg {
  object-fit: contain;
  /* transition: transform 0.5s ease-in-out; */
  transition-duration: 1s;
  opacity: 1;
  transform: translateX(0);
}

.projImg.new {
  opacity: 0;
  transform: translateX(-100%);
}

/* .projImg {
  object-fit: contain;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.projImg.new {
  opacity: 0;
} */

.directsc {
  max-width: 50vw;
  border-radius: 25px;
}

.projImg.desktop {
  max-width: 50vw;
}

.projImg.mobile {
  max-height: 30vw;
}
