.newProjImgContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.projImg {
  animation: fadeInOut 7s 1s infinite;

  object-fit: contain;
}

.projImg.desktop {
  max-width: 50vw;
}

.projImg.mobile {
  max-height: 30vw;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
