.newSection.Skills {
  display: flex;
  justify-content: center;

  /* overflow-x: hidden; */
}

.scrollHolder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 80%;
  /* width: fit-content; */
}

.scrollHolder {
}

.newSkillBoxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgba(255, 255, 255, 0);
  border-bottom: 3px solid orange;
  gap: 0.5rem;
  padding: 5px;
  transition-duration: 0.5s;
}

.newSkillIcon {
  width: 15px;
  height: 15px;
  fill: orange;
}

.newSkillText {
  font-weight: 600;
  color: white;
}

.newSkillBoxContainer:hover {
  cursor: pointer;
  border-radius: 5px;
  transform: scale(1.1);
  border: 3px solid orange;
}
