.newSkillIconCard {
  width: 1vw;
  height: 1vw;
  fill: orange;
}

.newSkillBoxContainerCard {
  display: flex;
  gap: 0.5rem;
  font-size: 0.5rem;
  justify-content: center;
  align-content: center;
}
