.aboutMeComponent {
  padding-left: 3px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 4rem;
  color: white;
  font-weight: 600;
}

.profilePicImg {
  width: 250px;
  border-radius: 180px;
  box-shadow: 5px 5px 5px grey;
}

.aboutMeContent {
  text-align: center;
  transition-duration: 1s;
}

.aboutMeContent.false {
  opacity: 0;
  max-height: 0px;
  /* transform: scaleY(0); */
}

.aboutMeContent.true {
  opacity: 1;
  max-height: 150px;
  /* transform: scaleY(100%); */
}

.line {
  color: #c586c0;
}

.linkStyle {
  color: #ce9178;
}

.fileStyle {
  color: #9cdcfe;
}

.fcnStyle {
  color: #3f9cd6;
}

.nameStyle {
  color: #d0dcaa;
}

.brackStyle {
  color: #ffd700;
}
