.aboutMeComponent {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  margin-top: 3.9rem;
  margin-left: 5px;
}

.profilePicImg {
  border: 2px solid #3f9cd6;
  width: 250px;
  object-fit: fill;
}

.aboutMeContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.aboutMeText {
  border: 2px solid #d0dcaa;
  padding: 5px;
}

.aboutSection {
  display: flex;
  gap: 15vw;
}

.profPicContainer {
  border: 2px solid #d0dcaa;
  padding: 5px;
  max-width: 250px;
}

.profImg {
  object-fit: contain;
  display: flex;
  max-width: 100%;
  height: auto;
  filter: grayscale(1) brightness(1) contrast(1);
}

.boxybox {
  width: 250px;
  height: 250px;
  background-color: red;
}

.line {
  color: #c586c0;
}

.linkStyle {
  color: #ce9178;
}

.fileStyle {
  color: #9cdcfe;
}

.fcnStyle {
  color: #3f9cd6;
}

.nameStyle {
  color: #d0dcaa;
}

.brackStyle {
  color: #ffd700;
}

@media (max-width: 850px) {
  .aboutMeMainContent {
    /* flex-direction: column; */
  }

  .aboutText {
    /* width: 90vw; */
  }
}
