.aboutMeComponent {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
  margin-top: 3.9rem;
  margin-left: 5px;
  /* min-width: 250px; */
}

.profilePicImg {
  border: 2px solid #3f9cd6;
  width: 250px;
  object-fit: fill;
}

.aboutMeContent {
  text-align: center;
  transition-duration: 1s;
}

.aboutMeContent.false {
  opacity: 0;
  max-height: 0px;
  /* transform: scaleY(0); */
}

.aboutMeContent.true {
  opacity: 1;
  max-height: 150px;
  /* transform: scaleY(100%); */
}

.aboutMeMainContent {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 15vw;
}

.aboutText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 30vw;
  border: 2px solid #d0dcaa;
  padding: 15px;
}

.line {
  color: #c586c0;
}

.linkStyle {
  color: #ce9178;
}

.fileStyle {
  color: #9cdcfe;
}

.fcnStyle {
  color: #3f9cd6;
}

.nameStyle {
  color: #d0dcaa;
}

.brackStyle {
  color: #ffd700;
}

@media (max-width: 850px) {
  .aboutMeMainContent {
    /* flex-direction: column; */
  }

  .aboutText {
    /* width: 90vw; */
  }
}
