.contactMeComponent {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
}

.contactMeDiv {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.contactMeTitle {
  text-align: left;
}

.contactOption:hover {
  background-color: rgba(128, 128, 128, 0.356);
  cursor: pointer;
}
