.contactMeComponent {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
  width: 100%;
  margin-top: 3.9rem;
}

.contactMeDiv {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.contactMeTitle {
  text-align: left;
}

.contactOption:hover {
  background-color: rgba(128, 128, 128, 0.356);
  cursor: pointer;
}

.contactMeBlurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.contactBlurb {
  width: fit-content;
}

.innerContactDiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 55vw;
  border: 4px solid #c586c0;
  padding: 15px;
}

.contactBlurb.lone {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.contactBlurb.ltwo {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 700px) {
  .innerContactDiv {
    width: 90%;
  }

  .contactBlurb.lone {
    font-size: 1.5rem;
  }

  .contactBlurb.ltwo {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .innerContactDiv {
    width: 80%;
  }
}
