.leftPart {
  background-color: #16825d;
  width: 160px;
}

.rightPart {
  width: 180px;
}

.middlePart {
  width: 100%;
}

.middlePart,
.rightPart {
  background-color: #007acc;
}

.leftPart,
.middlePart {
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
}

.footerIcon {
  width: 15px;
  height: 15px;
  fill: white;
}
