.mySkillsComponent {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.mySkillsDiv {
  display: flex;
  gap: 1rem;
  width: 85vw;
}

.mySkillsTitle {
  text-align: left;
}

.mySkillsDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 500px) {
  .skillBox {
    width: 70px;
    font-size: small;
  }
}
