.projectContainer {
  display: flex;
  flex-direction: column;
  width: 25vw;
  gap: 0.8rem;
  border: 2px solid #9cdcfe;
  padding: 10px;
  min-width: 250px;
}

.projectHeading {
  font-weight: 800;
  font-size: 1.5rem;
}

.projectLink {
  color: #ce9178;
}
