.projectBoxContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  /* box-shadow: 10px 10px 10px grey; */
  border: 2px solid #d0dcaa;
  border-radius: 5px;
  padding: 15px;
  width: 65vw;
}

.projectDescription {
  width: 55vw;
  transition: 0.5s ease-in-out;
}

.projectDescription.false {
  max-height: 5vh;
  overflow: hidden;
  opacity: 0;
}

.projectDescription.true {
  width: 55vw;
  text-wrap: wrap;
  max-height: 100vh;
  opacity: 1;
}

.detailsBtn {
  width: 10rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  background: none;
  border: 2px solid #9cdcfe;
  color: white;
  transition: 0.5s;
}

.detailsBtn:hover {
  cursor: pointer;
  border-color: #d0dcaa;
}

.temp {
  min-height: 100%;
}

.imageCarousel {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0);
  align-items: center;
}

.LRbuttons {
  width: 100%;
  position: relative;
  top: -150px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.positionButtons {
  display: flex;
  gap: 1rem;
  position: relative;
  display: relative;
  top: -15px;
}

.carImg {
  height: 350px;
  width: 55vw;
  object-fit: contain;
  z-index: 5;
  /* position: absolute; */
}

.carImg:hover {
  cursor: pointer;
}

.techStackUl {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.techStackList {
  display: flex;
  gap: 2rem;
}

.tsListItem {
  width: 4rem;
}

.test {
  width: 100px;
  height: 100px;
}

.imagesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55vw;
}

.btnx.active {
  background-color: #9cdcfe;
}

.btnx {
  width: 25px;
  height: 25px;
  background: none;
  border: 2px solid grey;
  border-radius: 25px;
  transition-duration: 0.5s;
}

.btnx:hover {
  cursor: pointer;
  background-color: #9cdcfe;
}

.arrowImgRight,
.arrowImgLeft {
  width: 25px;
  height: 25px;
  fill: #c586c0;
}

.arrowImgLeft {
  transform: rotateZ(180deg);
}

.arrowBtns {
  background: rgba(255, 255, 255, 0);
  border: 2px solid #9cdcfe;
  border-radius: 5px;
  background-color: #d0dcaa00;
  transition-duration: 0.5s;
}

.arrowBtns:hover {
  cursor: pointer;
  border-color: #d0dcaa;
}

.projectTitle {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
}

.modal.false {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(65, 65, 65, 0.384);
  backdrop-filter: blur(5px);
  z-index: 300;
}

.modalBtns {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  background-color: rgb(35, 35, 35);
  padding: 5px;
  border-radius: 5px;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  align-items: center;
}

.closeBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-100%);
  background: none;
  border: none;
  transition-duration: 0.5s;
  font-weight: 700;
  border-radius: 15px;
}

.closeBtn:hover {
  cursor: pointer;
}

.crossImg {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  transition-duration: 0.5s;
  fill: red;
}

.crossImg:hover {
  fill: red;
}

.largeImg {
  width: 80vw;
}

.bolder {
  font-weight: bolder;
}

.ulStyle {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.testClass {
  font-weight: bolder;
}

@media (max-width: 500px) {
  .projectDescription {
    width: 85vw;
  }

  .imagesContainer {
    width: 85vw;
  }

  .projectBoxContainer {
    width: 85vw;
  }

  .projectDescription.true {
    width: 85vw;
  }

  .largeImg {
    object-fit: contain;
    height: 50vh;
    width: 100vw;
  }

  .carImg {
    height: 200px;
  }
}
