.projectBoxContainer {
  display: flex;
  flex-direction: column;
  background-color: grey;
}

.projectDescription {
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* This is where the magic happens. */
}

.imageCarousel {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: rgb(71, 61, 61);
  align-items: center;
}

.LRbuttons {
  width: 100%;
  position: relative;
  top: -150px;
  display: flex;
  justify-content: space-between;
}
.positionButtons {
  display: flex;
  gap: 1rem;
  position: relative;
}

.carImg {
  width: inherit;
  /* position: absolute; */
}

.test {
  width: 100px;
  height: 100px;
}

.imagesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  background-color: red;
}
