.skillBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #252526;
  border: 2px solid #d0dcaa;
  width: 150px;
  padding: 5px;
  font-weight: 600;
  border-radius: 5px;
  color: white;
}

.skillIcon {
  width: 50px;
  height: 50px;
  fill: #3f9cd6;
}
