.vertBar {
  display: flex;


}

.vertBtnDiv {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    background-color: #333333;
    width: 40px;
    height: 100vh;
}

.vertIcon {
  width: 25px;
  height: 25px;
  z-index: 20;
}

.vertBtn {
  border: 2px solid rgba(255, 255, 255, 0);
  background: none;
  width: 25px;
  height: 25px;
}

.vertBtn.true {
    border-left: 2px solid white;
}

.vertIcon:hover {
  fill: white;
}

.vertIcon {
  fill: #717171;
}

.vertBtn:hover {
  cursor: pointer;
}

.explorerDiv {
    background-color: #252526;
    transition: 0.5s ease-in-out;
    /* opacity: 1; */
}

.explorerDiv.false {
    max-width: 0;

}

.explorerDiv.true {
    max-width: 190px;
}

.explorerDiv {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.folderChevron {
    background: none;
    width: 10px;
    height: 10px;
    fill: grey
}

.folderChevron.true {
    transform: rotateZ(90deg);
}

.folderBtn {
    background: none;
    border: none;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 0.55rem;
    width: 180px;
    gap: 5px;
}

.folderBtn:hover {
    cursor: pointer;
    background-color: rgba(87, 87, 87, 0.363);
}

.fileList.false {
    display: none;
}

.childOne {
    margin-top: 5px;
}

.childTwo {
    margin-top: 5px;
}

.btnOne {
    padding-left: 10px;
}

.btnTwo {
    padding-left: 20px;
}

.componentList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

/* need to add styling for mobile and defnitely for when side bar is opened