.navBtn {
  border: none;
  background: none;
  background-color: #2d2d2d;
  padding: 8px;
  font-size: 1rem;
  color: #fffff1;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.navBtn:hover {
  background-color: #1e1e1e;
  cursor: pointer;
}

.mainCont {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
}

body {
  background-color: #1e1e1e;
}

.header {
  position: fixed;
  background-color: #252526;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  border-bottom: 3px solid black;
}

.aboutMeDivContainer {
  margin-top: 1rem;
}

.reactIconNav {
  width: 15px;
  height: 15px;
  filter: brightness(1);
}

.buttonContainer {
  display: flex;
  justify-content: left;
  gap: 2px;
  background-color: #252526;
  overflow: auto;
}

.appLocation {
  color: grey;
  display: flex;
  gap: 5px;
  background-color: #1e1e1e;
  padding: 3px;
}

.fileLoc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: small;
  color: rgb(211, 208, 208);
}

.smallIcon {
  width: 15px;
  filter: brightness(3);
}

.navBtn.true {
  background-color: #1e1e1e;
}

/* .sectionDiv.false {
  display: none;
} */

.backToTop {
  position: static;
  bottom: 0;
}

.dragContTest {
  margin-top: 5rem;
  width: 200px;
  height: 200px;
  background-color: red;
  display: flex;
  gap: 1rem;
  margin-left: 15rem;
}

.dragItem {
  background-color: blue;
  color: white;
  height: 50px;
}

/* .sideBarTest {
  background-color: green;
  width: fit-content;
  height: 50px;
} */

/* @media (max-width: 550px) {
  padding-left: 5px;
} */
