.navBtn {
  border: none;
  background: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.navBtn:hover {
  border-bottom: 2px solid blue;
  cursor: pointer;
}

.mainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
